<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
<form action="" method="post">
    <label>Username</label><br>
    <input name="Username" type="email" placeholder="write your username here"><br>
    <label>Password</label><br>
    <input name="Password" type="email" placeholder="write your password here"><br>
    <input type="submit" value="LOGIN"><br><br>
</form>
</div>
<div>
    <form action="new">
 <label> New Here?</label>
 <input value="Register" type="submit">
    </form>
</div>
</body>
</html>